# PostgreSQL Connection & Sampling
***

## Setup

In [18]:
# import libraries

from sqlalchemy import create_engine
import pandas as pd
import numpy as np

In [19]:
# connect to DB

%load_ext sql
%sql postgresql://lhl_student:lhl_student@mid-term-project.ca2jkepgjpne.us-east-2.rds.amazonaws.com:5432/mid_term_project



# create query engine

engine = create_engine('postgresql://lhl_student:lhl_student@mid-term-project.ca2jkepgjpne.us-east-2.rds.amazonaws.com:5432/mid_term_project')

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

## Testing

In [24]:
%%sql

SELECT COUNT(*) FROM flights
WHERE fl_date >= '2019-01-01'
    and fl_date < '2019-01-07';

 * postgresql://lhl_student:***@mid-term-project.ca2jkepgjpne.us-east-2.rds.amazonaws.com:5432/mid_term_project
1 rows affected.

[(124634,)]

In [8]:
%%sql

SELECT COUNT(*)
FROM flights
TABLESAMPLE SYSTEM (1);

 * postgresql://lhl_student:***@mid-term-project.ca2jkepgjpne.us-east-2.rds.amazonaws.com:5432/mid_term_project
1 rows affected.

[(156146,)]

In [17]:
%%sql

SELECT COUNT(*)
FROM flights_test;

 * postgresql://lhl_student:***@mid-term-project.ca2jkepgjpne.us-east-2.rds.amazonaws.com:5432/mid_term_project
1 rows affected.

[(660556,)]

## Save Sample to CSV

In [10]:
df = pd.read_sql('SELECT * FROM flights TABLESAMPLE SYSTEM (1);', engine)

In [13]:
df.to_csv('midterm.csv')

In [15]:
df.shape

(165072, 42)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165072 entries, 0 to 165071
Data columns (total 42 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   fl_date              165072 non-null  object
 1   mkt_unique_carrier   165072 non-null  object
 2   branded_code_share   165072 non-null  object
 3   mkt_carrier          165072 non-null  object
 4   mkt_carrier_fl_num   165072 non-null  int64
 5   op_unique_carrier    165072 non-null  object
 6   tail_num             164593 non-null  object
 7   op_carrier_fl_num    165072 non-null  int64
 8   origin_airport_id    165072 non-null  int64
 9   origin               165072 non-null  object
 10  origin_city_name     165072 non-null  object
 11  dest_airport_id      165072 non-null  int64
 12  dest                 165072 non-null  object
 13  dest_city_name       165072 non-null  object
 14  crs_dep_time         165072 non-null  int64
 15  dep_time             162619 non-null  float64
 16  dep_delay            162544 non-null  float64
 17  taxi_out             162480 non-null  float64
 18  wheels_off           162480 non-null  float64
 19  wheels_on            162379 non-null  float64
 20  taxi_in              162379 non-null  float64
 21  crs_arr_time         165072 non-null  int64
 22  arr_time             162415 non-null  float64
 23  arr_delay            162002 non-null  float64
 24  cancelled            165072 non-null  float64
 25  cancellation_code    8708 non-null    object
 26  diverted             165072 non-null  float64
 27  dup                  165072 non-null  object
 28  crs_elapsed_time     165072 non-null  float64
 29  actual_elapsed_time  162029 non-null  float64
 30  air_time             161993 non-null  float64
 31  flights              165072 non-null  float64
 32  distance             165072 non-null  float64
 33  carrier_delay        30885 non-null   float64
 34  weather_delay        30885 non-null   float64
 35  nas_delay            30885 non-null   float64
 36  security_delay       30885 non-null   float64
 37  late_aircraft_delay  30885 non-null   float64
 38  first_dep_time       7208 non-null    object
 39  total_add_gtime      1111 non-null    float64
 40  longest_add_gtime    1111 non-null    float64
 41  no_name              0 non-null       object
dtypes: float64(22), int64(6), object(14)
memory usage: 52.9+ MB