# PostgreSQL Connection & Sampling
***

## Setup

In [1]:
# import libraries

from sqlalchemy import create_engine
import pandas as pd
import numpy as np

In [2]:
# connect to DB

%load_ext sql
%sql postgresql://lhl_student:lhl_student@mid-term-project.ca2jkepgjpne.us-east-2.rds.amazonaws.com:5432/mid_term_project



# create query engine

engine = create_engine('postgresql://lhl_student:lhl_student@mid-term-project.ca2jkepgjpne.us-east-2.rds.amazonaws.com:5432/mid_term_project')

## flights DB

In [3]:
%%sql

SELECT COUNT(*) FROM flights
WHERE fl_date >= '2019-01-01'
    and fl_date < '2019-01-07';

 * postgresql://lhl_student:***@mid-term-project.ca2jkepgjpne.us-east-2.rds.amazonaws.com:5432/mid_term_project
1 rows affected.

[(124634,)]

In [8]:
%%sql

SELECT COUNT(*)
FROM flights
TABLESAMPLE SYSTEM (1);

 * postgresql://lhl_student:***@mid-term-project.ca2jkepgjpne.us-east-2.rds.amazonaws.com:5432/mid_term_project
1 rows affected.

[(156146,)]

In [17]:
%%sql

SELECT COUNT(*)
FROM flights_test;

 * postgresql://lhl_student:***@mid-term-project.ca2jkepgjpne.us-east-2.rds.amazonaws.com:5432/mid_term_project
1 rows affected.

[(660556,)]

## passengers DB

In [7]:
%%sql

SELECT COUNT(*)
FROM passengers
TABLESAMPLE SYSTEM (7);

 * postgresql://lhl_student:***@mid-term-project.ca2jkepgjpne.us-east-2.rds.amazonaws.com:5432/mid_term_project
1 rows affected.

[(165243,)]

In [16]:
%%sql

SELECT passengers.passengers, distance, carrier, month, year
FROM passengers
TABLESAMPLE SYSTEM (1)
WHERE passengers.passengers > 1
LIMIT 10;

 * postgresql://lhl_student:***@mid-term-project.ca2jkepgjpne.us-east-2.rds.amazonaws.com:5432/mid_term_project
10 rows affected.

[(177.0, 1609.0, 'SY', 4, 2019),
 (317.0, 1132.0, 'SY', 4, 2019),
 (174.0, 1455.0, 'SY', 4, 2019),
 (1778.0, 1310.0, 'SY', 4, 2019),
 (198.0, 958.0, 'SY', 4, 2019),
 (143.0, 1098.0, 'SY', 4, 2019),
 (179.0, 835.0, 'SY', 4, 2019),
 (169.0, 1901.0, 'SY', 4, 2019),
 (171.0, 803.0, 'SY', 4, 2019),
 (386.0, 1016.0, 'SY', 4, 2019)]

In [23]:
%%sql

SELECT passengers.passengers, distance, carrier, month, year
FROM passengers
TABLESAMPLE SYSTEM (40)
WHERE passengers.passengers > 1
    and year = 2019;

 * postgresql://lhl_student:***@mid-term-project.ca2jkepgjpne.us-east-2.rds.amazonaws.com:5432/mid_term_project
1 rows affected.

[(155771,)]

## fuel_comsumption DB

In [32]:
%%sql

SELECT carrier, month, year, total_gallons
FROM fuel_comsumption
WHERE carrier in ('UA', 'DL', 'WN', 'AA', 'OO')
    and year = 2019;

 * postgresql://lhl_student:***@mid-term-project.ca2jkepgjpne.us-east-2.rds.amazonaws.com:5432/mid_term_project
45 rows affected.

[('AA', 1, 2019, 286544730.0),
 ('DL', 1, 2019, 273706863.0),
 ('OO', 1, 2019, 8150037.0),
 ('UA', 1, 2019, 270112946.0),
 ('WN', 1, 2019, 164881708.0),
 ('AA', 2, 2019, 264286537.0),
 ('DL', 2, 2019, 248074450.0),
 ('OO', 2, 2019, 7503491.0),
 ('UA', 2, 2019, 244752372.0),
 ('WN', 2, 2019, 148670558.0),
 ('AA', 3, 2019, 301971007.0),
 ('DL', 3, 2019, 299952005.0),
 ('OO', 3, 2019, 8558824.0),
 ('UA', 3, 2019, 297848082.0),
 ('WN', 3, 2019, 180277656.0),
 ('AA', 4, 2019, 291008622.0),
 ('DL', 4, 2019, 296111146.0),
 ('OO', 4, 2019, 8262780.0),
 ('UA', 4, 2019, 289084422.0),
 ('WN', 4, 2019, 173423712.0),
 ('AA', 5, 2019, 319972133.0),
 ('DL', 5, 2019, 318173288.0),
 ('OO', 5, 2019, 8838081.0),
 ('UA', 5, 2019, 309415363.0),
 ('WN', 5, 2019, 179914831.0),
 ('AA', 6, 2019, 327437203.0),
 ('DL', 6, 2019, 336183657.0),
 ('OO', 6, 2019, 8915291.0),
 ('UA', 6, 2019, 320238151.0),
 ('WN', 6, 2019, 179131347.0),
 ('AA', 7, 2019, 338595043.0),
 ('DL', 7, 2019, 351133142.0),
 ('OO', 7, 2019, 9566241.0),
 ('UA', 7, 2019, 328989147.0),
 ('WN', 7, 2019, 185099344.0),
 ('AA', 8, 2019, 338196501.0),
 ('DL', 8, 2019, 351127851.0),
 ('OO', 8, 2019, 8790766.0),
 ('UA', 8, 2019, 324688428.0),
 ('WN', 8, 2019, 176971032.0),
 ('AA', 9, 2019, 303854847.0),
 ('DL', 9, 2019, 303891710.0),
 ('OO', 9, 2019, 8834786.0),
 ('UA', 9, 2019, 292912423.0),
 ('WN', 9, 2019, 162505172.0)]

## Save Fuel Comsumption Sample to CSV

In [33]:
fuel = pd.read_sql('''
SELECT carrier, month, year, total_gallons
FROM fuel_comsumption
WHERE carrier in ('UA', 'DL', 'WN', 'AA', 'OO')
    and year = 2019;''', engine)

In [35]:
fuel.to_csv('fuel_comsumption.csv')

In [34]:
fuel.shape

(45, 4)

## Save 2019 Passengers Sample to CSV

In [25]:
passengers_2019 = pd.read_sql('''
SELECT passengers.passengers, distance, carrier, month, year 
FROM passengers 
TABLESAMPLE SYSTEM (40) 
WHERE passengers.passengers > 1
    and year = 2019;''', engine)

In [26]:
passengers_2019.to_csv('passengers_2019.csv')

In [27]:
passengers.shape

(158694, 5)

## Save 'Passengers' Sample to CSV

In [8]:
passengers = pd.read_sql('SELECT * FROM passengers TABLESAMPLE SYSTEM (7);', engine)

In [9]:
passengers.to_csv('passengers_data.csv')

In [11]:
passengers.shape

(165928, 38)

In [12]:
passengers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165928 entries, 0 to 165927
Data columns (total 38 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   departures_scheduled   165928 non-null  float64
 1   departures_performed   165928 non-null  float64
 2   payload                165928 non-null  float64
 3   seats                  165928 non-null  float64
 4   passengers             165928 non-null  float64
 5   freight                165928 non-null  float64
 6   mail                   165928 non-null  float64
 7   distance               165928 non-null  float64
 8   ramp_to_ramp           165928 non-null  float64
 9   air_time               165928 non-null  float64
 10  unique_carrier         165928 non-null  object
 11  airline_id             165928 non-null  int64
 12  unique_carrier_name    165928 non-null  object
 13  region                 165928 non-null  object
 14  carrier                165928 non-null  object
 15  carrier_name           165928 non-null  object
 16  carrier_group          165928 non-null  int64
 17  carrier_group_new      165928 non-null  int64
 18  origin_airport_id      165928 non-null  int64
 19  origin_city_market_id  165928 non-null  int64
 20  origin                 165928 non-null  object
 21  origin_city_name       165928 non-null  object
 22  origin_country         165928 non-null  object
 23  origin_country_name    165928 non-null  object
 24  dest_airport_id        165928 non-null  int64
 25  dest_city_market_id    165928 non-null  int64
 26  dest                   165928 non-null  object
 27  dest_city_name         165928 non-null  object
 28  dest_country           165928 non-null  object
 29  dest_country_name      165928 non-null  object
 30  aircraft_group         165928 non-null  int64
 31  aircraft_type          165928 non-null  int64
 32  aircraft_config        165928 non-null  int64
 33  year                   165928 non-null  int64
 34  month                  165928 non-null  int64
 35  distance_group         165928 non-null  int64
 36  class                  165928 non-null  object
 37  data_source            165928 non-null  object
dtypes: float64(10), int64(13), object(15)
memory usage: 48.1+ MB

## Save 'Flights' Sample to CSV

In [10]:
df = pd.read_sql('SELECT * FROM flights TABLESAMPLE SYSTEM (1);', engine)

In [13]:
df.to_csv('midterm.csv')

In [15]:
df.shape

(165072, 42)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165072 entries, 0 to 165071
Data columns (total 42 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   fl_date              165072 non-null  object
 1   mkt_unique_carrier   165072 non-null  object
 2   branded_code_share   165072 non-null  object
 3   mkt_carrier          165072 non-null  object
 4   mkt_carrier_fl_num   165072 non-null  int64
 5   op_unique_carrier    165072 non-null  object
 6   tail_num             164593 non-null  object
 7   op_carrier_fl_num    165072 non-null  int64
 8   origin_airport_id    165072 non-null  int64
 9   origin               165072 non-null  object
 10  origin_city_name     165072 non-null  object
 11  dest_airport_id      165072 non-null  int64
 12  dest                 165072 non-null  object
 13  dest_city_name       165072 non-null  object
 14  crs_dep_time         165072 non-null  int64
 15  dep_time             162619 non-null  float64
 16  dep_delay            162544 non-null  float64
 17  taxi_out             162480 non-null  float64
 18  wheels_off           162480 non-null  float64
 19  wheels_on            162379 non-null  float64
 20  taxi_in              162379 non-null  float64
 21  crs_arr_time         165072 non-null  int64
 22  arr_time             162415 non-null  float64
 23  arr_delay            162002 non-null  float64
 24  cancelled            165072 non-null  float64
 25  cancellation_code    8708 non-null    object
 26  diverted             165072 non-null  float64
 27  dup                  165072 non-null  object
 28  crs_elapsed_time     165072 non-null  float64
 29  actual_elapsed_time  162029 non-null  float64
 30  air_time             161993 non-null  float64
 31  flights              165072 non-null  float64
 32  distance             165072 non-null  float64
 33  carrier_delay        30885 non-null   float64
 34  weather_delay        30885 non-null   float64
 35  nas_delay            30885 non-null   float64
 36  security_delay       30885 non-null   float64
 37  late_aircraft_delay  30885 non-null   float64
 38  first_dep_time       7208 non-null    object
 39  total_add_gtime      1111 non-null    float64
 40  longest_add_gtime    1111 non-null    float64
 41  no_name              0 non-null       object
dtypes: float64(22), int64(6), object(14)
memory usage: 52.9+ MB