## Creating Final Test Table

In [1]:
import pandas as pd
import numpy as np

In [20]:
# bring in testing data
test_df = pd.read_csv('../DB/test_sample.csv', index_col='Unnamed: 0')
test_df = test_df.dropna()

In [21]:
# create base training features from existing testing features
X = test_df.dropna()

In [22]:
X

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,crs_arr_time,dup,crs_elapsed_time,flights,distance
0,2020-01-01,WN,WN,WN,4541,WN,N406WN,4541,14679,SAN,"San Diego, CA",12889,LAS,"Las Vegas, NV",1625,1735,N,70,1,258
1,2020-01-01,WN,WN,WN,4566,WN,N494WN,4566,14679,SAN,"San Diego, CA",12889,LAS,"Las Vegas, NV",2105,2215,N,70,1,258
2,2020-01-01,WN,WN,WN,4877,WN,N762SW,4877,14679,SAN,"San Diego, CA",12889,LAS,"Las Vegas, NV",2215,2325,N,70,1,258
3,2020-01-01,WN,WN,WN,5106,WN,N7828A,5106,14679,SAN,"San Diego, CA",12889,LAS,"Las Vegas, NV",1015,1135,N,80,1,258
4,2020-01-01,WN,WN,WN,6366,WN,N287WN,6366,14679,SAN,"San Diego, CA",12889,LAS,"Las Vegas, NV",855,1015,N,80,1,258
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197555,2020-01-31,DL,DL_CODESHARE,DL,4820,9E,N294PQ,4820,12953,LGA,"New York, NY",14122,PIT,"Pittsburgh, PA",1736,1924,N,108,1,335
197556,2020-01-31,DL,DL_CODESHARE,DL,4820,9E,N294PQ,4820,14122,PIT,"Pittsburgh, PA",12953,LGA,"New York, NY",1959,2136,N,97,1,335
197557,2020-01-31,DL,DL_CODESHARE,DL,4821,9E,N918XJ,4821,14814,SHV,"Shreveport, LA",10397,ATL,"Atlanta, GA",600,852,N,112,1,551
197558,2020-01-31,DL,DL_CODESHARE,DL,4822,9E,N8946A,4822,12953,LGA,"New York, NY",14576,ROC,"Rochester, NY",1710,1839,N,89,1,254
197559,2020-01-31,DL,DL_CODESHARE,DL,4822,9E,N8946A,4822,14576,ROC,"Rochester, NY",12953,LGA,"New York, NY",1915,2042,N,87,1,254

In [23]:
# find numeric and categorical features
cols = X.columns
num_cols = X._get_numeric_data().columns
cat_cols = list(set(cols) - set(num_cols))

# remove redundant numeric columns
final_num_cols = list(num_cols)
final_num_cols.remove('op_carrier_fl_num')
final_num_cols.remove('flights')

# remove redundant categorical columns
final_cat_cols = ['mkt_unique_carrier', 'fl_date', 'tail_num', 'branded_code_share']

# combine final features
final_features = final_num_cols + final_cat_cols

X = X[final_features]

In [24]:
# convert fl_date feature into datetime
X['fl_date'] = pd.to_datetime(X['fl_date'])

# separate datetime into date features
X['year'] = X['fl_date'].dt.year
X['month'] = X['fl_date'].dt.month
X['week'] = X['fl_date'].dt.isocalendar().week
X['day'] = X['fl_date'].dt.day
X['day_of_week'] = X['fl_date'].dt.dayofweek

# drop original fl_date and arr_delay columns
X = X.drop(columns=['fl_date'])

C:\Users\nikif\AppData\Local\Temp/ipykernel_6044/2859025005.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['fl_date'] = pd.to_datetime(X['fl_date'])
C:\Users\nikif\AppData\Local\Temp/ipykernel_6044/2859025005.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['year'] = X['fl_date'].dt.year
C:\Users\nikif\AppData\Local\Temp/ipykernel_6044/2859025005.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['month'] = X['fl_date'].dt.month
C:\Users\nikif\AppData\Local\Temp/ipykernel_6044/2859025005.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['week'] = X['fl_date'].dt.isocalendar().week
C:\Users\nikif\AppData\Local\Temp/ipykernel_6044/2859025005.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['day'] = X['fl_date'].dt.day
C:\Users\nikif\AppData\Local\Temp/ipykernel_6044/2859025005.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['day_of_week'] = X['fl_date'].dt.dayofweek

In [25]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 197074 entries, 0 to 197559
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   mkt_carrier_fl_num  197074 non-null  int64
 1   origin_airport_id   197074 non-null  int64
 2   dest_airport_id     197074 non-null  int64
 3   crs_dep_time        197074 non-null  int64
 4   crs_arr_time        197074 non-null  int64
 5   crs_elapsed_time    197074 non-null  int64
 6   distance            197074 non-null  int64
 7   mkt_unique_carrier  197074 non-null  object
 8   tail_num            197074 non-null  object
 9   branded_code_share  197074 non-null  object
 10  year                197074 non-null  int64
 11  month               197074 non-null  int64
 12  week                197074 non-null  UInt32
 13  day                 197074 non-null  int64
 14  day_of_week         197074 non-null  int64
dtypes: UInt32(1), int64(11), object(3)
memory usage: 23.5+ MB

## Join New Features

In [26]:
# bring in feature data
taxi_and_delay = pd.read_csv('../DB/features_created.csv')
avg_monthly_pas = pd.read_csv('../Riley/csvs/avg_monthly_pas.csv')

In [27]:
# drop extra column
taxi_and_delay = taxi_and_delay.drop(columns=['Unnamed: 0'])

In [28]:
taxi_and_delay.columns

Index(['order', 'distance', 'crs_dep_time', 'crs_arr_time',
       'mkt_unique_carrier', 'mean_taxi_out/time', 'mean_taxi_in/time',
       'mean_dep_delay/time', 'mean_arr_delay/time', 'mean_dep_delay/distance',
       'mean_arr_delay/distance', 'mean_dep_delay/carrier',
       'mean_arr_delay/carrier'],
      dtype='object')

In [12]:
dep_time_delays = taxi_and_delay[['crs_dep_time','mean_taxi_out/time','mean_dep_delay/time']]
arr_time_delays = taxi_and_delay[['crs_arr_time','mean_taxi_in/time','mean_arr_delay/time']]
distance_delays = taxi_and_delay[['distance','mean_arr_delay/distance','mean_dep_delay/distance']]
carrier_delays = taxi_and_delay[['mkt_unique_carrier','mean_dep_delay/carrier','mean_arr_delay/carrier']]

In [30]:
merge_cols = ['distance',
              'crs_dep_time',
              'crs_arr_time',
              'mkt_unique_carrier',
              'mean_taxi_out/time',
              'mean_taxi_in/time',
              'mean_dep_delay/time',
              'mean_arr_delay/time',
              'mean_dep_delay/distance',
              'mean_arr_delay/distance',
              'mean_dep_delay/carrier',
              'mean_arr_delay/carrier']

X = pd.merge(X, taxi_and_delay[merge_cols], how='left', on=['distance','crs_dep_time','crs_arr_time','mkt_unique_carrier'])

In [31]:
# merge onto training DataFrame
X = pd.merge(X, avg_monthly_pas, how='left', on=['origin_airport_id','month'])
#X = pd.merge(X, dep_time_delays, how='left', on=['crs_dep_time'])
#X = pd.merge(X, arr_time_delays, how='left', on=['crs_arr_time'])
#X = pd.merge(X, distance_delays, how='left', on=['distance'])
#final = pd.merge(X, carrier_delays, how='left', on=['mkt_unqiue_carrier'])

In [32]:
final = X
final.head()

,mkt_carrier_fl_num,origin_airport_id,dest_airport_id,crs_dep_time,crs_arr_time,crs_elapsed_time,distance,mkt_unique_carrier,tail_num,branded_code_share,...,day_of_week,mean_taxi_out/time,mean_taxi_in/time,mean_dep_delay/time,mean_arr_delay/time,mean_dep_delay/distance,mean_arr_delay/distance,mean_dep_delay/carrier,mean_arr_delay/carrier,avg_monthly_pas
0,4541,14679,12889,1625,1735,70,258,WN,N406WN,WN,...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,76419.0
1,4566,14679,12889,2105,2215,70,258,WN,N494WN,WN,...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,76419.0
2,4877,14679,12889,2215,2325,70,258,WN,N762SW,WN,...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,76419.0
3,5106,14679,12889,1015,1135,80,258,WN,N7828A,WN,...,2,17.522463,6.357388,5.223706,-1.842466,14.347193,11.623701,10.934234,3.841416,76419.0
4,6366,14679,12889,855,1015,80,258,WN,N287WN,WN,...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,76419.0

In [33]:
final = final.dropna()
final

,mkt_carrier_fl_num,origin_airport_id,dest_airport_id,crs_dep_time,crs_arr_time,crs_elapsed_time,distance,mkt_unique_carrier,tail_num,branded_code_share,...,day_of_week,mean_taxi_out/time,mean_taxi_in/time,mean_dep_delay/time,mean_arr_delay/time,mean_dep_delay/distance,mean_arr_delay/distance,mean_dep_delay/carrier,mean_arr_delay/carrier,avg_monthly_pas
3,5106,14679,12889,1015,1135,80,258,WN,N7828A,WN,...,2,17.522463,6.357388,5.223706,-1.842466,14.347193,11.623701,10.934234,3.841416,76419.0
20,6047,14679,13796,2030,2200,90,446,WN,N200WN,WN,...,2,18.684122,7.430636,17.057432,9.755814,7.278261,0.539130,10.934234,3.841416,76419.0
44,4011,14679,14771,2155,2330,95,447,WN,N219WN,WN,...,2,15.232919,5.480851,17.018634,9.927660,11.500000,7.128070,10.934234,3.841416,76419.0
48,1334,14679,14831,2100,2220,80,417,WN,N7817J,WN,...,2,17.018750,6.824490,22.703125,6.872951,8.224390,4.165854,10.934234,3.841416,76419.0
49,1334,14679,14831,2100,2220,80,417,WN,N7817J,WN,...,2,17.018750,6.824490,22.703125,6.872951,8.224390,4.165854,10.934234,3.841416,76419.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202534,4476,12266,13303,1715,2049,154,964,AA,N408YX,AA_CODESHARE,...,4,18.363158,8.643312,17.786340,7.341935,6.828729,2.389831,9.660861,5.703436,155988.0
202561,4495,10693,11278,1014,1300,106,562,AA,N132HQ,AA_CODESHARE,...,4,17.258065,6.220630,5.790323,-0.971347,7.023256,1.143411,9.660861,5.703436,33331.5
202580,5342,10397,10431,1026,1130,64,164,DL,N834AY,DL_CODESHARE,...,4,16.712500,7.013793,9.691358,-2.265589,7.132275,2.521277,9.613156,2.637875,207639.0
202597,5359,10397,10208,855,955,60,143,DL,N669CA,DL_CODESHARE,...,4,19.613682,7.008571,7.034274,2.747851,16.230263,9.350993,9.613156,2.637875,207639.0
202598,5359,10397,10208,855,955,60,143,DL,N669CA,DL_CODESHARE,...,4,19.613682,7.008571,7.034274,2.747851,16.230263,9.350993,9.613156,2.637875,207639.0

In [34]:
# saving as csv
final.to_csv('../DB/final_test.csv')